.project-dashbar {
  position: fixed;
  bottom: 0;
  background-color: #0b0b0b;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 54px;
  width: 100%;
  z-index: 250;
  box-shadow: -2px -4px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px -4px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px -4px 3px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 48em) {
  .project-dashbar {
    bottom: 70px;
  }
}

.projectSelector {
  cursor: 'pointer';
}

.projectSelector:active {
  /* Mantém a cor original do texto, sem mudar no clique */
  color: inherit !important;

  /* Mantém a opacidade normal (caso o Mantine ou outro estilo aplique fade) */
  opacity: 1 !important;

  /* Remove qualquer background ou outline indesejado */
  background: none !important;
  outline: none !important;

  /* Se houver algum efeito de escala/transformação */
  transform: none !important;
}

.projectSelector {
  -webkit-tap-highlight-color: transparent;
}
